.product {
  width: 300px;
  height: 510px;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: relative;
}
.product img {
  width: 286px;
  height: 286px;
  border-radius: 8px;
  margin: 7px;
}
.product-details {
  padding: 16px;
  text-align: left;
}
.product h2 {
  font-size: 18px;
  margin: -7px;
  padding: 0 7px;
  margin-bottom: 9px;
}
.button-cart {
  width: 100%;
  background-color: #ffe0f3;
  border: none;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-cart:hover {
  background-color: orangered;
}
p {
  margin: 6px 0;
}
